## Login git
<article class="mr-login" *ngIf="openLogin">
    <header class="mr-login-header">
      <div class="mr-login-aside">
        <img src="assets/images/icon-branch.svg" alt="Git Icon" />
        <span class="mr-login-title">GIT Login</span>
      </div>
      <div class="mr-login-aside">
        <img src="assets/images/icon-snooze.svg" alt="watch Icon" />
      </div>
    </header>
    <section class="pre-login">
      <section class="login-loader">
        <img src="../assets/images/Loading.gif" class="loader" *ngIf="isLoggedIn" />
      </section>
      <section class="login-section">
        <p class="login-text">Please login to continue.</p>
        <button class="btn-login-process" type="button" *ngIf="isLoggedIn">Logging in...</button>
        <section class="btns-wrapper" *ngIf="!isLoggedIn">
          <button class="btn-login" type="button" (click)="login()">
            Login in <img src="../assets/images/expand.svg" alt="Login in" class="expand" />
          </button>
  
          <button class="btn-cancel" type="button" (click)="closePopup()">
            <img src="assets/images/icon-close.svg" alt="Cancel button" />
          </button>
        </section>
      </section>
    </section>
  </article>

  