.mr-login {
    width: 380px;
    border-radius: 20px;
    background-color: #e8e2ff;
    border: 2px solid #cec9ff;
    box-shadow: 0px 0px 4px rgba(4, 0, 39, 0.5);
    padding: 20px;
    position: relative;
    top: 100%;
    display: grid;
    gap: 20px;
  
    &::before {
      bottom: -12px;
      border-top: 12px solid #cec9ff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
  
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 100px;
        border-top: 1px solid rgba(92, 82, 191, 0.2);
        width: calc(100% - 130px);
      }
    }
  
    .pre-login,
    .post-login {
      display: flex;
      gap: 30px;
  
      .login-loader {
        background-color: #BCB5FF;
        border-radius: 17px;
        padding: 25px;
        position: relative;
        background-image: url('/assets/images/pre-loader.png');
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center center;
  
        .loader {
          width: 100%;
        }
      }
  
      .login-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
  
        .login-text {
          color: #5A5A5A;
          font-size: 16px;
        }
  
        .btns-wrapper {
          display: flex;
          gap: 10px;
  
          .btn-login {
            background-color: #5C52BF;
            border-radius: 10px;
            padding: 5px 14px;
            color: #ffffff;
            text-decoration: underline;
            font-size: 18px;
            display: inline-flex;
            align-items: center;
            gap: 7px;
            border: transparent;
            cursor: pointer;
  
            .expand {
              width: 15px;
            }
          }
  
        }
  
        .btn-login-process {
          background-color: rgba(95, 84, 192, 47%);
          border-radius: 10px;
          padding: 5px 14px;
          color: #ffffff;
          font-size: 18px;
          display: inline-flex;
          align-items: center;
          gap: 7px;
          border: transparent;
          width: 140px;
        }
      }
  
  
  
  
  
    }
  
    &-aside {
      font-size: 16px;
      color: #5c52bf;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  
    .btn-cancel {
      height: 38px;
      width: 38px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      cursor: pointer;
      background-color: #C7C7C7;
      border: 1px solid #C7C7C7;
    }
  
  
  }
  